// variaveis
$cor-primaria: #161616;
$cor-secundaria: #fff;
$cor-texto: #3d3d3d;
$gradiente: linear-gradient(
  90deg,
  rgba(159, 57, 137, 1) 0%,
  rgba(221, 47, 76, 1) 35%,
  rgba(249, 154, 75, 1) 100%
);

// mixins
@mixin input {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 300px;
  margin: 0 auto;
  background: #2a2a2a;
  border-radius: 5px;

  padding: 15px;
  margin-bottom: 15px;

  input {
    background: none;
    border: none;
    width: 100%;
    color: $cor-secundaria;

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }
  }
}

@mixin button {
  max-width: 300px;
  width: 100%;
  color: $cor-secundaria;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  background: $gradiente;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  transition: 0.9s ease;
}

@mixin headerContainer {
  text-align: center;
  padding-top: 60px;

  h1 {
    font-size: 4em;
    color: $cor-secundaria;
  }

  p {
    font-size: 1.5em;
    color: $cor-texto;
    margin: 0 auto;
    max-width: 700px;
  }

  @media (max-width: 510px) {
    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1em;
    }
  }
}
// reset
* {
  margin: 0px;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $cor-primaria;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  /* para usar o padding respeitando o limite de tamanho da caixa */
  box-sizing: border-box;
}

