@import "../global.module.scss";

.navContainer {
  margin: 0 auto;
  padding: 40px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: $cor-secundaria;

    &:hover {
      border-bottom: none;
      color: $cor-texto;
      transition: 0.3s ease;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      padding-left: 30px;

      a {
        display: block;
        font-size: 1em;
        font-weight: bold;
        color: $cor-secundaria;
        transition: 0.3s ease;

        &:hover {
          color: $cor-texto;
          transition: 0.3s ease;
        }
      }
    }
  }

  .searchBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;

    i {
      color: $cor-secundaria;
      padding-right: 35px;
    }

    a {
      color: $cor-secundaria;
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      background: $gradiente;
      transition: 0.3s ease;

      &:hover {
        color: $cor-texto;
      }
    }
  }
}


@media (max-width: 510px) {
  .navContainer {
    display: block;
    text-align: center;
    ul {
      display: block;

      li {
        padding-left: 0px;
        padding-top: 15px;
      }
    }

    .searchBox {
      display: block;

      i {
        display: block;
        padding-left: 20px;
        padding-top: 15px;
        padding: 10px 0px 30px 0px;
      }
    }
  }
}